# Ignore data and databases
/data/
*.csv
*.parquet
*.json
delta_lake/
data_lake/**
!data_lake/
!data_lake/bronze/
!data_lake/bronze/.gitkeep
!data_lake/silver/
!data_lake/silver/.gitkeep
!data_lake/gold/
!data_lake/gold/.gitkeep
checkpoints/**
!checkpoints/
!checkpoints/.gitkeep
src/consumer/checkpoints/
logs/
*.pid
ml_outputs/**
!ml_outputs/
!ml_outputs/.gitkeep

# Python
__pycache__/
*.pyc
.env
venv/
